<a href="https://colab.research.google.com/github/bbarnes4/cmsc320fall2020/blob/master/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
#imports all here
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [134]:
#Begin step 1: request the url
req = requests.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares',headers = {"User-Agent":"Chrome/84.0"})
page = req.content

In [135]:
#extract text from page
soup = BeautifulSoup(page,'html.parser')

#use prettify
soup.prettify()

#use find to save the table as a variable
space_table = soup.find('table')

In [136]:
#use pandas to read the html file 
space_setup = pd.read_html(str(space_table), flavor="bs4")
space_final = pd.concat(space_setup)

#extract the data from the page
space_final.columns = ['rank', 'x_class', 'date', 'region', 'start-time', 'max-time', 'end-time', 'movie']

#print the table
space_final

    rank x_class        date  ...  max-time end-time              movie
0      1    X28+  2003/11/04  ...     19:53    20:06  MovieView archive
1      2    X20+  2001/04/02  ...     21:51    22:03  MovieView archive
2      3  X17.2+  2003/10/28  ...     11:10    11:24  MovieView archive
3      4    X17+  2005/09/07  ...     17:40    18:03  MovieView archive
4      5   X14.4  2001/04/15  ...     13:50    13:55  MovieView archive
5      6     X10  2003/10/29  ...     20:49    21:01  MovieView archive
6      7    X9.4  1997/11/06  ...     11:55    12:01  MovieView archive
7      8    X9.3  2017/09/06  ...     12:02    12:10  MovieView archive
8      9      X9  2006/12/05  ...     10:35    10:45  MovieView archive
9     10    X8.3  2003/11/02  ...     17:25    17:39  MovieView archive
10    11    X8.2  2017/09/10  ...     16:06    16:31  MovieView archive
11    12    X7.1  2005/01/20  ...     07:01    07:26  MovieView archive
12    13    X6.9  2011/08/09  ...     08:05    08:08  MovieView archive
13    14    X6.5  2006/12/06  ...     18:47    19:00  MovieView archive
14    15    X6.2  2005/09/09  ...     20:04    20:36  MovieView archive
15    16    X6.2  2001/12/13  ...     14:30    14:35  MovieView archive
16    17    X5.7  2000/07/14  ...     10:24    10:43  MovieView archive
17    18    X5.6  2001/04/06  ...     19:21    19:31  MovieView archive
18    19    X5.4  2012/03/07  ...     00:24    00:40  MovieView archive
19    20    X5.4  2005/09/08  ...     21:06    21:17  MovieView archive
20    21    X5.4  2003/10/23  ...     08:35    08:49  MovieView archive
21    22    X5.3  2001/08/25  ...     16:45    17:04  MovieView archive
22    23    X4.9  2014/02/25  ...     00:49    01:03  MovieView archive
23    24    X4.9  1998/08/18  ...     22:19    22:28       View archive
24    25    X4.8  2002/07/23  ...     00:35    00:47  MovieView archive
25    26      X4  2000/11/26  ...     16:48    16:56  MovieView archive
26    27    X3.9  2003/11/03  ...     09:55    10:19  MovieView archive
27    28    X3.9  1998/08/19  ...     21:45    21:50       View archive
28    29    X3.8  2005/01/17  ...     09:52    10:07  MovieView archive
29    30    X3.7  1998/11/22  ...     06:42    06:49  MovieView archive
30    31    X3.6  2005/09/09  ...     09:59    10:08  MovieView archive
31    32    X3.6  2004/07/16  ...     13:55    14:01  MovieView archive
32    33    X3.6  2003/05/28  ...     00:27    00:39  MovieView archive
33    34    X3.4  2006/12/13  ...     02:40    02:57  MovieView archive
34    35    X3.4  2001/12/28  ...     20:45    21:32  MovieView archive
35    36    X3.3  2013/11/05  ...     22:12    22:15  MovieView archive
36    37    X3.3  2002/07/20  ...     21:30    21:54  MovieView archive
37    38    X3.3  1998/11/28  ...     05:52    06:13  MovieView archive
38    39    X3.2  2013/05/14  ...     01:11    01:20  MovieView archive
39    40    X3.1  2014/10/24  ...     21:41    22:13  MovieView archive
40    41    X3.1  2002/08/24  ...     01:12    01:31  MovieView archive
41    42      X3  2002/07/15  ...     20:08    20:14  MovieView archive
42    43    X2.8  2013/05/13  ...     16:05    16:16  MovieView archive
43    44    X2.8  2001/12/11  ...     08:08    08:14  MovieView archive
44    45    X2.8  1998/08/18  ...     08:24    08:32       View archive
45    46    X2.7  2015/05/05  ...     22:11    22:15  MovieView archive
46    47    X2.7  2003/11/03  ...     01:30    01:45  MovieView archive
47    48    X2.7  1998/05/06  ...     08:09    08:20  MovieView archive
48    49    X2.6  2005/01/15  ...     23:02    23:31  MovieView archive
49    50    X2.6  2001/09/24  ...     10:38    11:09  MovieView archive

[50 rows x 8 columns]

In [137]:
#Begin step 2: tidy up by removing last column
space_final.drop(['movie'], axis = 1, inplace = True)

# Use datetime import to combine the date and each of three time columns
space_final['start'] = space_final['date'].astype(str) + ' ' + space_final['start-time'].astype(str)
space_final['max'] = space_final['date'].astype(str) + ' ' + space_final['max-time'].astype(str)
space_final['end'] = space_final['date'].astype(str) + ' ' + space_final['end-time'].astype(str)

space_final['start_datetime'] = pd.to_datetime(space_final['start'])
space_final['max_datetime'] = pd.to_datetime(space_final['max'])
space_final['end_datetime'] = pd.to_datetime(space_final['end'])

# Drop the extra not needed columns
space_final.drop(['date', 'start-time', 'max-time', 'end-time', 'start', 'max', 'end'], axis = 1, inplace = True)

# Set empty reigion as missing value of NaN *CAN BE SKIPPED BUT LEFT IN*
space_final.replace('--', 'NaN', inplace = True)

#print the table
space_final

    rank x_class  ...        max_datetime        end_datetime
0      1    X28+  ... 2003-11-04 19:53:00 2003-11-04 20:06:00
1      2    X20+  ... 2001-04-02 21:51:00 2001-04-02 22:03:00
2      3  X17.2+  ... 2003-10-28 11:10:00 2003-10-28 11:24:00
3      4    X17+  ... 2005-09-07 17:40:00 2005-09-07 18:03:00
4      5   X14.4  ... 2001-04-15 13:50:00 2001-04-15 13:55:00
5      6     X10  ... 2003-10-29 20:49:00 2003-10-29 21:01:00
6      7    X9.4  ... 1997-11-06 11:55:00 1997-11-06 12:01:00
7      8    X9.3  ... 2017-09-06 12:02:00 2017-09-06 12:10:00
8      9      X9  ... 2006-12-05 10:35:00 2006-12-05 10:45:00
9     10    X8.3  ... 2003-11-02 17:25:00 2003-11-02 17:39:00
10    11    X8.2  ... 2017-09-10 16:06:00 2017-09-10 16:31:00
11    12    X7.1  ... 2005-01-20 07:01:00 2005-01-20 07:26:00
12    13    X6.9  ... 2011-08-09 08:05:00 2011-08-09 08:08:00
13    14    X6.5  ... 2006-12-06 18:47:00 2006-12-06 19:00:00
14    15    X6.2  ... 2005-09-09 20:04:00 2005-09-09 20:36:00
15    16    X6.2  ... 2001-12-13 14:30:00 2001-12-13 14:35:00
16    17    X5.7  ... 2000-07-14 10:24:00 2000-07-14 10:43:00
17    18    X5.6  ... 2001-04-06 19:21:00 2001-04-06 19:31:00
18    19    X5.4  ... 2012-03-07 00:24:00 2012-03-07 00:40:00
19    20    X5.4  ... 2005-09-08 21:06:00 2005-09-08 21:17:00
20    21    X5.4  ... 2003-10-23 08:35:00 2003-10-23 08:49:00
21    22    X5.3  ... 2001-08-25 16:45:00 2001-08-25 17:04:00
22    23    X4.9  ... 2014-02-25 00:49:00 2014-02-25 01:03:00
23    24    X4.9  ... 1998-08-18 22:19:00 1998-08-18 22:28:00
24    25    X4.8  ... 2002-07-23 00:35:00 2002-07-23 00:47:00
25    26      X4  ... 2000-11-26 16:48:00 2000-11-26 16:56:00
26    27    X3.9  ... 2003-11-03 09:55:00 2003-11-03 10:19:00
27    28    X3.9  ... 1998-08-19 21:45:00 1998-08-19 21:50:00
28    29    X3.8  ... 2005-01-17 09:52:00 2005-01-17 10:07:00
29    30    X3.7  ... 1998-11-22 06:42:00 1998-11-22 06:49:00
30    31    X3.6  ... 2005-09-09 09:59:00 2005-09-09 10:08:00
31    32    X3.6  ... 2004-07-16 13:55:00 2004-07-16 14:01:00
32    33    X3.6  ... 2003-05-28 00:27:00 2003-05-28 00:39:00
33    34    X3.4  ... 2006-12-13 02:40:00 2006-12-13 02:57:00
34    35    X3.4  ... 2001-12-28 20:45:00 2001-12-28 21:32:00
35    36    X3.3  ... 2013-11-05 22:12:00 2013-11-05 22:15:00
36    37    X3.3  ... 2002-07-20 21:30:00 2002-07-20 21:54:00
37    38    X3.3  ... 1998-11-28 05:52:00 1998-11-28 06:13:00
38    39    X3.2  ... 2013-05-14 01:11:00 2013-05-14 01:20:00
39    40    X3.1  ... 2014-10-24 21:41:00 2014-10-24 22:13:00
40    41    X3.1  ... 2002-08-24 01:12:00 2002-08-24 01:31:00
41    42      X3  ... 2002-07-15 20:08:00 2002-07-15 20:14:00
42    43    X2.8  ... 2013-05-13 16:05:00 2013-05-13 16:16:00
43    44    X2.8  ... 2001-12-11 08:08:00 2001-12-11 08:14:00
44    45    X2.8  ... 1998-08-18 08:24:00 1998-08-18 08:32:00
45    46    X2.7  ... 2015-05-05 22:11:00 2015-05-05 22:15:00
46    47    X2.7  ... 2003-11-03 01:30:00 2003-11-03 01:45:00
47    48    X2.7  ... 1998-05-06 08:09:00 1998-05-06 08:20:00
48    49    X2.6  ... 2005-01-15 23:02:00 2005-01-15 23:31:00
49    50    X2.6  ... 2001-09-24 10:38:00 2001-09-24 11:09:00

[50 rows x 6 columns]